.content_index {
  margin-bottom: -150px;
}
@media screen and (max-width: 1000px) {
  .latest_infor {
    margin-top: 140px !important;
  }
}
.Latest_project_title {
  font-size: 36px;
  letter-spacing: -0.28px;
  line-height: 43px;
  text-align: center;
  margin-bottom: 80px;
}
.success_case {
  width: 80%;
  margin: 0 auto;
}
.success_case .success_case_div {
  position: relative;
  background: #ffffff;
  box-shadow: 0 5px 25px 14px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  min-height: 400px;
  margin-top: 50px;
}
.success_case .success_case_div > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.success_case .success_case_div > .case_blue_right {
  position: absolute;
  width: 30%;
  height: 100%;
  right: 0;
  top: 0;
  border-radius: 0 8px 8px 0;
  opacity: 0.9;
  background: #0076f1;
}
.success_case .success_case_div > .case_blue_right > .case_blue_right_div {
  display: table;
  width: 100%;
  height: 100%;
}
.success_case .success_case_div > .case_blue_right > .case_blue_right_div > .case_blue_right_text {
  padding: 0 10%;
  display: table-cell;
  vertical-align: middle;
}
.success_case .success_case_div > .case_blue_right > .case_blue_right_div > .case_blue_right_text > .title_case {
  font-size: 36px;
  color: #ffffff;
  letter-spacing: -0.56px;
}
.success_case .success_case_div > .case_blue_right > .case_blue_right_div > .case_blue_right_text > .text_case {
  margin-top: 20px;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0.09px;
  line-height: 34px;
  text-align: left;
  height: 200px;
  overflow: hidden;
}
.success_case .success_case_div > .case_blue_right:hover {
  width: 40%;
  transition: all 1s;
}
.Latest_project {
  width: 86%;
  margin: 80px auto;
}
.Latest_project .Latest_project_content > p {
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.Latest_project .Latest_project_content > p:hover > span {
  font-size: 26px;
}
.Latest_project .Latest_project_content > p > span {
  display: inline-block;
  /**/
  font-size: 24px;
  color: #333333;
  letter-spacing: -0.38px;
}
.Latest_project .Latest_project_content > p > a {
  margin-left: 4px;
  font-size: 20px;
  color: #278bf4;
  letter-spacing: -0.38px;
  text-decoration: underline;
}
.latest_infor {
  margin-top: 40px;
}
.latest_infor > .latest_infor_ul {
  list-style: none;
  text-align: center;
}
.latest_infor > .latest_infor_ul > li {
  display: inline-block;
  font-size: 20px;
  color: #333333;
  letter-spacing: -0.31px;
  text-align: left;
  padding: 0 30px;
  cursor: pointer;
}
.latest_infor > .latest_infor_ul > .active {
  color: #0076f1;
}
.latest_infor .latest_infor_content {
  width: 74%;
  margin: 0 auto;
  overflow: hidden;
}
.latest_infor .latest_infor_content:nth-child(4) > .infor_content > div {
  float: right;
}
.latest_infor .latest_infor_content:nth-child(3) > .infor_content {
  float: left;
}
.latest_infor .latest_infor_content:nth-child(3) > .infor_content:nth-child(2n) > div {
  float: right;
}
.latest_infor .latest_infor_content > .infor_content {
  width: 100%;
  min-height: 340px;
  background: #f2f2f2;
  margin: 40px 0!important;
  padding: 40px 0 !important;
}
.latest_infor .latest_infor_content > .infor_content .infor_img {
  width: 60%;
  max-height: 350px;
}
.latest_infor .latest_infor_content > .infor_content .infor_p {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.latest_infor .latest_infor_content > .infor_content .infor_p .infor_title {
  font-size: 24px;
  line-height: 60px;
  color: #333333;
  letter-spacing: -0.38px;
  text-align: left;
}
.latest_infor .latest_infor_content > .infor_content .infor_p .infor_time {
  font-size: 18px;
  color: #999999;
  letter-spacing: -0.28px;
  text-align: left;
  margin-bottom: 40px;
}
.latest_infor .latest_infor_content > .infor_content .infor_p .infor_text {
  font-size: 18px;
  color: #999999;
  letter-spacing: -0.28px;
  text-indent: 2em;
}
.latest_infor .latest_infor_content > .infor_content .infor_p .infor_text > .new_details_btn {
  border: 1px solid #0076f1;
  border-radius: 2px;
  line-height: 32px;
  padding: 4px 8px;
  color: #0076f1;
  text-decoration: none;
  text-align: center;
  background: #fff;
  font-size: 16px;
}
.latest_infor .latest_infor_content > .infor_content .infor_p .infor_text > .new_details_btn:hover {
  background: #0076f1;
  color: #fff;
}
.btn_page {
  text-align: center;
  margin-bottom: 60px;
}
.btn_page > button {
  font-size: 18px;
  color: #999999;
  letter-spacing: -0.28px;
  border: none;
  background: transparent;
  margin: 0 30px;
}
.btn_page > button:hover {
  color: #0076f1;
}
.success_case > .btn_page {
  margin-top: 50px;
}
