.content_index {
  margin-bottom: -150px;
}
@media screen and (max-width: 1000px) {
  .content_index {
    margin-bottom: -80px !important;
  }
}
.Product_intro {
  width: 80%;
  margin: 0 auto;
}
.Product_intro > img {
  display: block;
  margin: 40px auto 16px;
  max-width: 90%;
}
.Product_intro > .Product_intro_text {
  font-size: 20px;
  color: #999999;
  letter-spacing: -0.01px;
  line-height: 34px;
  text-indent: 2em;
}
.Product_intro > .imgs_ {
  margin-top: 40px;
}
.Product_intro > .imgs_ > div {
  display: inline-block;
  width: 19%;
  text-align: center;
}
.Product_intro > .imgs_ > div > p {
  margin-top: 16px;
  font-size: 20px;
  color: #333333;
  letter-spacing: -0.01px;
}
.tab-panel > div * {
  max-width: 100%;
}
.characteristic_System > .characteristic_System_ {
  width: 76%;
  margin: 0 auto;
}
.System_content > div {
  float: left;
  display: inline-block;
  margin-bottom: 20px;
}
.System_content > .System_img > img {
  display: block;
  margin: 0 auto;
  width: 90%;
}
.System_content > .System_text {
  font-size: 22px;
  color: #999999;
  letter-spacing: 0.16px;
  line-height: 32px;
  text-align: left;
}
.System_content > .System_text > p {
  text-indent: 2em;
}
.System_content > .System_text > p > span {
  color: #1B85F2;
}
.Technical_framework_img > img,
.mobile_img > img {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.mobile_ {
  width: 80%;
  margin: 0 auto;
}
.Functional_structure > .Functional_structure_ {
  width: 80%;
  margin: 0 auto;
}
.Functional_structure > .Functional_structure_ > .Core_platform {
  background: #c48253;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  color: #ffffff;
}
.Functional_structure > .Functional_structure_ .Core_platform_list > div {
  width: 22%;
  float: left;
  margin-right: 4%;
  padding-bottom: 70px;
  background: url("../images/Core_platform_list.png") no-repeat;
  background-size: 100% 100%;
}
.Functional_structure > .Functional_structure_ .Core_platform_list > div:nth-child(4) {
  margin-right: 0;
}
.Functional_structure > .Functional_structure_ .Core_platform_list > div > h4 {
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  color: #333333;
  letter-spacing: -0.38px;
}
.Functional_structure > .Functional_structure_ .Core_platform_list > div > P {
  width: 60%;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #df6006;
  font-size: 16px;
  color: #333333;
  letter-spacing: -0.31px;
}
.Functional_structure > .Functional_structure_ .more_service {
  border-left: 5px solid  #c48253;
  padding-left: 20px;
  margin-top: 30px;
  clear: both;
  font-size: 20px;
  color: #333333;
  letter-spacing: -0.38px;
}
.Functional_structure > .Functional_structure_ .more_services {
  width: 90%;
  margin: 20px auto;
}
.Functional_structure > .Functional_structure_ .more_services > span {
  padding: 0 14px;
  font-size: 16px;
  line-height: 30px;
  color: #333333;
  letter-spacing: -0.31px;
}
.Supporting_website {
  width: 80%;
  margin: 0 auto;
}
.Supporting_website .Supporting_website_imgs div {
  margin-bottom: 20px;
}
.Supporting_website .Supporting_website_imgs div img {
  width: 90%;
}
.System_title,
.Technical_framework_title,
.Functional_structure_title,
.Supporting_website_title,
.mobile_title {
  font-size: 36px;
  letter-spacing: -0.28px;
  line-height: 43px;
  text-align: center;
  margin-bottom: 80px;
}
.Supporting_website,
.mobile,
.Functional_structure,
.Technical_framework,
.characteristic_System,
.solution_intro {
  margin-bottom: 30px;
  margin-top: 50px;
}
.Solution_details_img > img {
  width: 100%;
}
.home_text_img {
  width: 68%;
  margin: 100px auto;
}
.home_text_img p {
  height: 60px;
  line-height: 60px;
}
.home_text_img .text_img_title {
  font-size: 30px;
  color: #fff;
}
.home_text_img .text_img_tel {
  font-size: 26px;
  color: #fff;
}
.home_text_img .join_us_div {
  margin: 30px 0 !important;
}
.solution_intro p {
  width: 100%!important;
  text-indent: 2em;
}
